body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #ffffff;
  }
  .hidden{
    display: none;
  }
  header{
    background-color: #ffffff;
    position:fixed;
    width: 100%;
  
    
  }

  h1 {
    color: #0a0a0a;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #ff6600;
    
  }

  
  h1:hover {
    color: #ffffff; 
  }

  article {
    background-color: #ff6600;
    font-family: Verdana;
    width: 300px;
    height: auto;
    line-height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.685);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -150px;
    
   
}

article:hover{
    box-shadow: 0 2px 4px rgba(168, 102, 2, 0.925);
}

.article-style{
    padding: 30px 50px 30px 50px;
}
section{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #333;
    border-width: 5px;
    margin-top: 0;
}

p{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: small;
    padding: 7px;
    text-decoration: underline;
    text-align: center;
}

span{
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

/* Styling for duck */
#duck-main{
    width: 70vw;
    height:80vh;
    margin:110px 0 10px -290px;
    cursor: pointer;
}

#duck-main:hover #smoke1 {
    animation-name: smoke1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes smoke1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
        opacity: 1;
      }
  }

  #duck-main:hover #smoke2 {
    animation-name: smoke2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes smoke2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
        opacity: 0;
      }
  }

  #duck-main:hover #cigar {
    animation-name: cigar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes cigar {
    0% {
        
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

 #left-leg, #right-leg {
    
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #duck-main:hover #left-leg {
    animation-name: leftleg-animation;
  }

  @keyframes leftleg-animation {
    0%, 50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1deg);
    }
  }

  #duck-main:hover #right-leg {
    animation-name: rightleg-animation;
  }

 

  @keyframes rightleg-animation {
    100%, 50% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(-2deg);
    }
  }

  #duck-main:hover #duck-shadow {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: bounceAnimation;
    transform-origin: center top;
  }

  @keyframes bounceAnimation {
    0%, 100% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(5px);
    }
  }

  #left-eye, #right-eye{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center center;
  }

  #duck-main:hover #right-eye{
    animation-name: eyeball;
  }

  #duck-main:hover #left-eye{
    animation-name: eyeball;
  }

  @keyframes eyeball {
    0%, 100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, -4px);
    }
    50% {
      transform: translate(4px, 0);
    }
    75% {
      transform: translate(0, 4px);
    }
  }


.control{
    margin-left: -500px;
}
 

#clock{
    width: 600px;
    height: 500px;
    margin:50px 0 70px -80px;
    cursor: pointer;
}

       #clock:hover  #short-double {
            animation: rotate 60s linear infinite;
            transform-origin: center;
        }
         #clock:hover   #long-double {
            animation: rotate 60s linear infinite;
            transform-origin: center;
        }
         #clock:hover  #second-hand{
            animation: rotate 30s linear infinite;
            transform-origin: center;
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        #clock-border{
            background-color: black;
        }
  